<ng-container *ngIf="!(isLoading$ | async); else loading" >
  <app-sub-list
    *ngFor="let item of items$ | async"
    [items]="item"
    [searchText]="searchText"
    (remove)="removeItem($event)"
    (edit)="editItem($event)"
    (create)="createItem($event)"
    (labelEdit)="onLabelEdit($event)"
    (listCopy)="onListCopy($event)"
    (listRemove)="onListRemove($event)"
  >
  </app-sub-list>
  <button (click)="onAddNewList()">
    <mat-icon>add</mat-icon>
    <span>Add new list</span>
  </button>
</ng-container>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
