mat-card {
  border: 3px double #000;
  margin: 5px 3px;
  user-select: none;

    &:hover {
      animation: rattle 0.3s ease;
    }

    .item-title {
      display: flex;
      justify-content: space-between;
    }
}

.importance-flag {
  color: rgb(184, 17, 17);
}

.button {
  margin: 2px 5px;

    &:hover {
      opacity: 0.9;
    }
}

.item-description {
  height: 5vh;
  overflow: hidden;
}

span {
  padding-left: 5px;
}

@keyframes rattle {
  15% {
    transform: rotateZ(3deg);
  }
  30% {
    transform: rotateZ(2deg);
  }
  40% {
    transform: rotateZ(1px);
  }
  50% {
    transform: rotateZ(-1px);
  }
  65% {
    transform: rotateZ(-2deg);
  }
  100% {
    transform: rotateZ(-3deg);
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 1280px) {
  .item-title {
    font-size: 1.2em;
  }

  .item-description {
    font-size: 1.1em;
  }

  .button {
    font-size: 1em;
  }
}

@media (max-width: 800px) {
  .item-title {
    font-size: 1.4em;
  }

  .item-description {
    font-size: 1.3em;
  }

  .button {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .item-title {
    font-size: 1.6em;
  }

  .item-description {
    font-size: 1.5em;
  }

  .button {
    font-size: 1.3em;
  }
}
