<mat-card>
  <h3>
    {{ item.title | titlecase }}
    <mat-icon *ngIf="item.importanceFlag" class="importance-flag">flag</mat-icon>
  </h3>
  <p>{{ item.description }}</p>
  <div class="button-wrapper">
    <button mat-raised-button color="primary" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-raised-button color="primary" (click)="onRemove()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </div>
</mat-card>
