div {
  display: flex;
  justify-content: flex-start;
  padding: 1% 3%;
}

mat-toolbar {
  width: 350px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  opacity: 0.8;

  button {
    background-color: rgb(48, 104, 82);
    color: #fff;
  }
}
