.list-wrapper {
  margin: 5px;
  padding: 5px;
  border: 3px inset rgb(167, 155, 155);
  background-color: rgba(236, 235, 235, 0.8);
  border-radius: 8px;
  max-height: 80vh;
  overflow-y: scroll;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  user-select: none;

  .title-label {
    font-size: 1.2em;
    letter-spacing: 2px;
    margin: 5px;
  }

  .button-wrapper {
    // width: 60%;
    display: flex;
    // visibility: hidden;
  }

  .label-button  {
    width: 40px;
    // height: 20px;
  }
}

.label-wrapper:hover .button-wrapper{
  visibility: visible;
}

.create-button:only-child {
  display: none;
}

.create-button {
  width: 100%;
}

