<div class="list-wrapper">
  <div class="label-wrapper">
    <h2 class="title-label">{{ items.listTitle | uppercase }}</h2>
    <div class="button-wrapper">
      <button class="label-button" (click)="onLabelEdit()">
        <mat-icon>edit</mat-icon>
      </button>
      <button class="label-button" (click)="onListCopy()">
        <mat-icon>file_copy</mat-icon>
      </button>
      <button class="label-button" (click)="onListRemove()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <app-list-item
    *ngFor="let item of items.subList | filter: searchText"
    [item]=item
    (edit)="onEdit($event)"
    (remove)="onRemove($event)"
  >
  </app-list-item>
  <button mat-button (click)="onCreate()" class="create-button">
    <mat-icon>add</mat-icon>
    <span>Create</span>
  </button>
</div>
