div {
  margin: 5px;
  padding: 5px;
  border: 3px inset rgb(167, 155, 155);
  background-color: rgba(236, 235, 235, 0.8);
  border-radius: 8px;
  max-height: 80vh;
  overflow-y: scroll;

  button:only-child {
    display: none;
  }

  button {
    width: 100%;
  }
}

