.list-wrapper {
  width: 15vw;
  margin: 5px;
  padding: 5px;
  border: 3px inset rgb(167, 155, 155);
  background-color: rgba(236, 235, 235, 0.8);
  border-radius: 8px;
  max-height: 80vh;
  overflow: auto;

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(219, 216, 216, 0.5);
      border-radius: 10px;
      background-color: rgba(236, 235, 235, 0.8);
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: rgba(236, 235, 235, 0.8);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #555;
    }
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
  user-select: none;

  .title-label {
    font-size: 1.2em;
    letter-spacing: 2px;
    margin: 5px;
  }

  .button-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    visibility: hidden;
  }

  .label-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 20%;
  }
}

.label-wrapper:hover .button-wrapper{
  visibility: visible;
}

.create-button:only-child {
  display: none;
}

.create-button {
  width: 100%;
  font-size: 1em;
}

::ng-deep .mat-tooltip {
  font-size: calc(1em * 15 / 16);
  letter-spacing: 0.7px;
}

@media (max-width: 1280px) {
  .list-wrapper {
    width: 20vw;

    .title-label {
      font-size: 1.3em;
    }
  }
}

@media (max-width: 1000px) {
  .list-wrapper {
    width: 30vw;
  }
}

@media (max-width: 800px) {
  .list-wrapper {
    width: 40vw;

    .title-label {
      font-size: 1.5em;
    }
  }

  .create-button {
    width: 100%;
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .list-wrapper {
    width: 70vw;

    .title-label {
      font-size: 1.7em;
    }
  }

  .create-button {
    width: 100%;
    font-size: 1.3em;
  }
}
