:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrapper {
    margin-top: 10%;
    padding: 30px;
    width: 50%;
    text-align: center;

    h2 {
      font-weight: 500;
    }

    a {
      color: #198a8a;
      text-decoration: none;
    }
  }
}
